* {
    text-decoration: none;
    box-sizing: border-box;
    color: #323232;
    font-family: 'Lexend', sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.header-section {
    width: 100%;
    z-index: 999;
    background: #ECF1F8;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}

.block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    max-height: 60px;
    height: 100%;
    width: 100%;
    max-width: 1185px;
    padding: 0 15px;
    margin: 0 auto
}

.sub-block {
    display: flex;
}

.links:hover {
    color: #3684CC;
}

.profile {
    cursor: pointer; 
    display: flex; 
    align-items: center;
}

.profile:hover span {
    color: #3684CC;
}

.profile:hover img {
    filter: invert(52%) sepia(32%) saturate(1170%) hue-rotate(168deg) brightness(85%) contrast(85%);
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.logo span {
    font-size: 20px;
    color: #3684CC;
}

.upload-ad {
    color: white;
    padding: 5px 20px;
    background: #83DA9D;
    border-radius: 3px;
}

.upload-ad:hover {
    background-color: #7bce94;
}

.container {
    width: 100%;
    max-width: 1185px;
    padding: 0 15px;
    margin: 0 auto
}

.stretch {
    min-height: calc(100vh - 33px - 120px - 65px);
}

footer {
    max-height: 33px;
    padding: 5px 0;
    margin-top: 65px;
    background: #ECF1F8;
}

footer span {
    font-size: 16px;
}

.icon_16x16 {
    width: 16px;
    height: 16px;
}

.icon_20x20 {
    width: 20px;
    height: 20px;
}

.icon_22x22 {
    width: 22px;
    height: 22px;
}

.icon_24x24 {
    width: 24px;
    height: 24px;
}

.icon_30x30 {
    width: 30px;
    height: 30px;
}

.input-select {
    position: relative;
    display: flex;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    border-radius: 3px 0px 0px 3px;
    height: 80px;
    width: calc(100% - 30px);
}

.input-select input {
    font-size: 16px;
    color: #4b4b4b;
    width: 100%;
    padding: 0 28px;
    padding-right: 50px;
    outline: none;
    border: none;
}

.input-select textarea {
    resize: none;
    font-size: 16px;
    color: #4b4b4b;
    width: 100%;
    padding: 15px;
    outline: none;
    border: none;
}

.input-section-icon {
    position: absolute;
    z-index: 2;
    right: 0;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: #F8F8F8;
    padding: 0 10px;
}

::placeholder {
    color: #B1B1B1;
}

.input-select select {
    font-size: 16px;
    color: #4b4b4b;
    position: relative;
    z-index: 3;
    background: none;
    padding: 0 28px;
    outline: none;
    border: none;
    width: 100%;
    -webkit-appearance: none;
    padding-right: 50px;
}

.input-select select option {
    border: 1px solid #E1E1E1;
}

.active-link {
    color: #3684CC;
}

input[type=checkbox] {
    cursor: pointer;
    width: 24px;
    height: 24px;
}

body::-webkit-scrollbar {
    display: none;
}

.no-long-upload-ad {
    display: none;
}

.nav {
    display: none;
}

.nav img {
    cursor: pointer;
}

nav {
    padding: 15px;
    padding-top: 0;
    flex-direction: column;
    background: white;
}

nav a {
    border-bottom:  1px solid #E1E1E1;
    margin-top: 15px;
    padding-bottom: 5px;
}

@media only screen and (max-width: 875px) {

    .long-upload-ad {
        display: none;
    }

    .no-long-upload-ad {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .upload-ad {
        padding: 5px;
    }

}

@media only screen and (max-width: 550px) {

    .profile span {
        display: none;
    }
    
    .profile {
        margin-right: -15px;
    }

    .menu {
        display: none;
    }

    .nav {
        display: block;
    }

    footer span {
        font-size: 14px;
    }

    footer {
        max-height: 100px;
    }

}